:root{
    --fonte-principal:'Inter';
}

body{
    background-color: #00030c;
    color: #FFFFFF;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.botao{
    background-color: #167bf7;
    border-radius: 5px;
    padding: 1em;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao2{
    background-color: transparent;
    border-radius: 5px;
    padding: 1em;
    color: #FFFFFF;
    display: block;
    border: 2px solid #FFFFFF;
    text-decoration: none;
}

.paragrafo{
    font-size: 12px;
    color: #c0c0c0;
}

.titulo{
    font-size: 28px;
    font-weight: 700;
}

.imagem1{
    margin: 1em 0 2em 0;
}

.caixa{
    margin: 0 6em;
}